{
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components",
    "stylelint-config-standard",
    "@stylelint/postcss-css-in-js"
  ],
  "rules": {
    "selector-max-compound-selectors": 2,
    "no-empty-source": null,
    "keyframes-name-pattern": null,
    "rule-empty-line-before": null,
    "declaration-colon-newline-after": null,
    "selector-id-pattern": null,
    "value-keyword-case": null
  },
  "overrides": [
    {
      "files": ["**/*.ts"],
      "customSyntax": "@stylelint/postcss-css-in-js"
    }
  ]
}
