.title {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 0 20px;
  margin: 20px 0;
  font-size: 2.8rem;
  font-weight: 400;
}

@media only screen and (min-width: 800px) {
  .title {
    font-size: 4rem;
  }
}
