.container {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  padding: 0;
  align-items: center;
}

@media only screen and (min-width: 800px) {
  .container {
    margin: 120px auto;
    padding: 0 20px;
  }
}

.svg {
  fill: #334bc8;
}
